export PROJECT_ROOT=$(pwd)
export SERVER_HOST=localhost
export SERVER_PORT=4000
export DB_NAME=asyncapi
export DB_HOST=127.0.0.1
export DB_USER=
export DB_PASSWORD=
export DB_PORT=5432
export DB_PORT_TEST=5433
export DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?sslmode=disable
export JWT_SECRET=

export AWS_ACCESS_KEY_ID=dummy
export AWS_SECRET_ACCESS_KEY=dummy
export AWS_DEFAULT_REGION=eu-north-1
export S3_BUCKET=
export S3_ENDPOINT=http://s3.localhost.localstack.cloud:4566
export SQS_QUEUE=
export SQS_ENDPOINT=http://localhost:4566

export TF_VAR_aws_access_key_id=${AWS_ACCESS_KEY_ID}
export TF_VAR_aws_secret_access_key=${AWS_SECRET_ACCESS_KEY}
export TF_VAR_aws_default_region=${AWS_DEFAULT_REGION}
export TF_VAR_s3_bucket=${S3_BUCKET}
export TF_VAR_s3_endpoint=${S3_ENDPOINT}
export TF_VAR_sqs_queue=${SQS_QUEUE}
export TF_VAR_sqs_endpoint=${SQS_ENDPOINT}
